<html>
    <head>
        <meta charset="UTF-8">
        <!-- mobile optimization -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        <title>{{ page_title }}</title>
        {{ content_for_header }}
        <!-- links -->
        <link rel="canonical" href="{{ canonical_url }}">
        {{ 'reset.css' | asset_url | stylesheet_tag }}
        {{ 'theme.css' | asset_url | stylesheet_tag }}
        {{ 'custom.css' | asset_url | stylesheet_tag }}
        {{ 'app-styles-override.css' | asset_url | stylesheet_tag }}
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
        <style>
            @font-face {
                font-family: "Scarlet";
                src: url("{{ 'Scarlet-Bold.woff2' | asset_url }}") format("woff2");
            }
        </style>
    </head>
    <body>
        {% if shop.customer_accounts_enabled %}
            {% if customer %}
                <a href="/account">account</a>
                {{ 'log out' | customer_logout_link }}
            {% else %}
                {{ 'log in ' | customer_login_link }}
                {{ 'register' | customer_register_link }}
            {% endif %}
        {% endif %}
        {% section 'header' %}
        <main role="main">{{ content_for_layout }}</main>
        {% section 'footer' %}
        <script src="{{ 'application.js' | asset_url }}" defer></script>
        <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
        <script src="{{ 'custom.js' | asset_url }}" defer></script>
        {% if template.name == "product" %}
            <script type="module" src="{{ 'product.js' | asset_url }}" defer></script>
        {% endif %}
    </body>
</html>