{{ 'weather-section.css' | asset_url | stylesheet_tag }}
<style>
    .main.weather-section__button-inner a {
        background-color: {{ section.settings.button-color }};
    }

    .main.weather-section__button-inner a:hover{
        background-color: {{ section.settings.button-color-hover }};
    }
</style>
<div class=" button-section weather-section">
  <div class="container">
    <div class="row">
        <div class="weather-section__button">
            <div class="main weather-section__button-inner">
                <a href="{{ section.settings.btn-url}}" >{{ section.settings.btn-text}}</a>
            </div>
        </div>
        <div class="weather-info__wraper">
            <div class="weather-section__info">
                    {% if section.settings.text-content != blank %} 
                        {{ section.settings.text-content }}
                    {%  else %}
                        <p>
                            • De leukste zeilschool van Midden Nederland <br>
                            • Wel 12 soorten boten om te huren, van sloep tot fusion <br>
                            • Surfen, suppen, kanoën en waterfietsen <br>
                            • Team-uitjes en activiteiten voor jong en oud <br>
                            • Eten en slapen aan het water<br>
                        </p>
                    {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Weather section",
"settings": [
    {
        "type": "text",
        "id": "btn-text",
        "label": "Button text",
        "default": "Boek nu"
    },
    {
        "type": "url",
        "id": "btn-url",
        "label": "Button url"
    },
    {
        "type": "color",
        "id": "button-color",
        "label": "Change the button color"
    },
    {
        "type": "color",
        "id": "button-color-hover",
        "label": "Change the button hover color"
    },
    {
        "type": "richtext",
        "id": "text-content",
        "label": "Change the button hover color"
    }
],
	"presets": [
	]
}
{% endschema %}
