{{ 'collection-2.css' | asset_url | stylesheet_tag }}
<div class="collection">
    <div class="container">
        <div class="collection__row">
            <h2 class="collection__title">{{ section.settings.featured-collection-1.title }}</h2>
            <div class="collection__products">
                {% for product in section.settings.featured-collection-1.products limit: 5 %}
                    <a href="{{ product.url }}" class="collection__product-item">
                        {{ product.featured_image | img_url: 'master' | img_tag }}
                        <h4 class="collection__product-name">{{ product.title }}</h4>
                        <div class="collection__hover-content">
                            <div>
                                blabla
                                blablab
                                blabla
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="collection__row">
            <h2 class="collection__title">{{ section.settings.featured-collection-2.title }}</h2>
            <div class="collection__products">
                {% for product in section.settings.featured-collection-2.products limit: 5 %}
                    <a href="{{ product.url }}" class="collection__product-item">
                        {{ product.featured_image | img_url: 'master' | img_tag }}
                        <h4 class="collection__product-name">{{ product.title }}</h4>
                        <div class="collection__hover-content">
                            <div>
                                blabla
                                blablab
                                blabla
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="collection__row">
            <h2 class="collection__title">{{ section.settings.featured-collection-3.title }}</h2>
            <div class="collection__products">
                {% for product in section.settings.featured-collection-3.products limit: 5 %}
                    <a href="{{ product.url }}" class="collection__product-item">
                        {{ product.featured_image | img_url: 'master' | img_tag }}
                        <h4 class="collection__product-name">{{ product.title }}</h4>
                        <div class="collection__hover-content">
                            <div>
                                blabla
                                blablab
                                blabla
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="collection__row">
            <h2 class="collection__title">{{ section.settings.featured-collection-4.title }}</h2>
            <div class="collection__products">
                {% for product in section.settings.featured-collection-4.products limit: 5 %}
                    <a href="{{ product.url }}" class="collection__product-item">
                        {{ product.featured_image | img_url: 'master' | img_tag }}
                        <h4 class="collection__product-name">{{ product.title }}</h4>
                        <div class="collection__hover-content">
                            <div>
                                blabla
                                blablab
                                blabla
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Featured Collection",
        "settings": [
            {
                "type": "collection",
                "id": "featured-collection-1",
                "label": "Collection 1"
            },
            {
                "type": "collection",
                "id": "featured-collection-2",
                "label": "Collection 2"
            },
            {
                "type": "collection",
                "id": "featured-collection-3",
                "label": "Collection 3"
            },
            {
                "type": "collection",
                "id": "featured-collection-4",
                "label": "Collection 4"
            }
        ],
        "presets": [
            {
                "name": "Featured Collection"
            }
        ]
    }
{% endschema %}