{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer" style="background: {{ section.settings.footer-bg }};">
  <div class="container">
    <div class="row">
      <div class="footer__logo">
        <div class="footer__logo-inner">
          <a href="/">
            {% render 'icon-footer-logo' %}
          </a>
        </div>
      </div>
      <div class="footer__inner">
        <header class="footer__header">
          <nav class="row">
            <li>
              Herenweg 144
            </li>
            <li>
              3645 dt vinkeveen
            </li>
            <li>
              t 0297 - 26200
            </li>
            <li>
              INFO@VINKEVEENHAVEN.NL
            </li>
          </nav>
        </header>
        <main class="footer__main">
          <div class="row">
            <div class="footer__main-col">
              <nav>
                <li>
                  <a href="#">OVER ONS</a>
                </li>
                <li>
                  <a href="#">Dit zijn wij</a>
                </li>
                <li>
                  <a href="#">Vacatures & stages</a>
                </li>
                <li>
                  <a href="#">FAQ Haven & zeilschool</a>
                </li>
                <li>
                  <a href="#">Contact & route</a>
                </li>
              </nav>
            </div>
            <div class="footer__main-col">
              <nav>
                <li>
                  <a href="#">DOEN IN DE OMGEVING</a>
                </li>
                <li>
                  <a href="#">Routekaarten leuke tochten</a>
                </li>
                <li>
                  <a href="#">Toeristische info</a>
                </li>
                <li>
                  <a href="#">Eten & Drinken rond Vinkeveen</a>
                </li>
              </nav>
            </div>
            <div class="footer__main-col">
              <nav>
                <li>
                  <a href="#">DUURZAAMHEID & GREEN KEY</a>
                </li>
                <li>
                  <a href="#">Duurzaamheid in beeld</a>
                </li>
                <li>
                  <a href="#">MVO Jaarverslag</a>
                </li>
                <li>
                  <a href="#">Green Key normen</a>
                </li>
                <li>
                  <a href="#">MVO beleid</a>
                </li>
                <li>
                  <a href="#">Juttas</a>
                </li>
              </nav>
            </div>
            <div class="footer__main-col">
              <nav>
                <li>
                  <a href="#">VOORWAARDEN
                  </a>
                </li>
                <li>
                  <a href="#">Verzekeringen</a>
                </li>
              </nav>
            </div>
          </div>
          <div class="footer-main__mobile hidden-600">
            <div class="footer-main__buttons">
              <a href="#">Voorwaarden</a>
              <a href="#">DOEN IN DE OMGEVING</a>
              <a href="#">OVER ONS</a>
              <a href="#">DUURZAAMHEID & GREEN KEY</a>
            </div>
          </div>
          <div class="footer-main__logos">
            {% if section.settings.img1 != blank %}
              {{ section.settings.img1 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-watersport.png' | asset_url | img_tag }}
            {% endif %}
            {% if section.settings.img2 != blank %}
              {{ section.settings.img2 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-green-key.svg' | asset_url | img_tag }}
            {% endif %}
            {% if section.settings.img3 != blank %}
              {{ section.settings.img3 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-CWO.png' | asset_url | img_tag }}
            {% endif %}
            {% if section.settings.img4 != blank %}
              {{ section.settings.img4 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-horeca.png' | asset_url | img_tag }}
            {% endif %}
            {% if section.settings.img5 != blank %}
              {{ section.settings.img5 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-vdws.svg' | asset_url | img_tag }}
            {% endif %}
            {% if section.settings.img6 != blank %}
              {{ section.settings.img6 | img_url: 'master' | img_tag }}
            {% else %}
              {{ 'footer-hiswa.png' | asset_url | img_tag }}
            {% endif %}
          </div>
        </main>
        <footer class="footer__footer">
          <nav class="row">
            <li>
              Copyright © 2022 Zeilschool Vinkeveen Haven
            </li>
            <li>
              
                Alle rechten voorbehouden
            </li>
            <li>
              Privacy beleid
            </li>
            <li>
              Algemene Voorwaarden
            </li>
            <li>
              Cookie voorkeuren
            </li>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer settings",
    "settings": [
      {
        "type": "image_picker",
        "id": "img1",
        "label": "Pick 1st logo"
      },
      {
        "type": "image_picker",
        "id": "img2",
        "label": "Pick 2nd logo"
      },
      {
        "type": "image_picker",
        "id": "img3",
        "label": "Pick 3th logo"
      },
      {
        "type": "image_picker",
        "id": "img4",
        "label": "Pick 4th logo"
      }, {
        "type": "image_picker",
        "id": "img5",
        "label": "Pick 5th logo"
      }, {
        "type": "image_picker",
        "id": "img6",
        "label": "Pick 6th logo"
      }
    ],
    "presets": []
  }
{% endschema %}