{{ 'header.css' | asset_url | stylesheet_tag }}
<header class="header">
  <div class="container">
    <div class="row header__row">
      <div class="header__logo">
        <a href="/">
          {% render 'icon-header-logo' %}
        </a>
      </div>
      <div class="header__menu">
        <nav>
          {%- assign color_blocks = section.blocks | where: 'type', 'customize_colors' -%}
         
          {%- for link in section.settings.navigation_menu.links -%}
            <li>
              {%- assign mtdown = link.title | downcase -%}
              {%- for color in color_blocks -%}
                {%- assign ctdown = color.settings.title | downcase -%}
                {%- if ctdown == mtdown -%}
                  {%- assign bgcolor = color.settings.bg_color -%}
                  {%- assign txcolor = color.settings.tx_color -%}
                {%- endif -%}
              {%- endfor -%}
                
                <a href="{{ link.url }}"
                  style="color: {{ txcolor }}; position: relative"
                  class="header__nav-item">
                  <span style="background: {{ bgcolor }}"></span>
                  {{ link.title }}
                </a>
              
              
              {%- if link.levels > 0 -%}
                {%- for child_link in link.links -%}
                  {%- assign smtdown = child_link.title | downcase -%}
                  {%- for color in color_blocks -%}
                    {%- assign ctdown = color.settings.title | downcase -%}
                    {%- if ctdown == smtdown -%}
                      {%- assign bgcolor = color.settings.bg_color -%}
                      {%- assign txcolor = color.settings.tx_color -%}
                    {%- endif -%}
                  {%- endfor -%}

                    <a href="{{ child_link.url }}" 
                      style="color: {{ txcolor }}; position: relative"
                      class="header__nav-subitem">
                      <span style="background: {{ bgcolor }}"></span>
                      {{ child_link.title }}
                    </a>
                {%- endfor -%}
              {%- endif -%}
            </li>
          {%- endfor -%}
          
        </nav>
      </div>
      <div class="header__right-nav">
        <nav>
          <li class="header__right-nav-item-blue">
            <a href="/blogs/agenda">Agenda</a>
          </li>
          <li class="header__right-nav-item-grey">
            <a href="#">Winkel</a>
          </li>
          <li class="header__right-nav-item-black">
            <a href="">NL</a>
            <p>|</p>
            <a href="">Eng</a>
          </li>
        </nav>
      </div>
      
      <div class="burger-menu">
        <div class="burger-menu__strips">
          <span></span>
          <span></span>
          <span></span>
        </div>
        
        <nav class="mobile-menu__nav">
          {%- assign zindex = 200 -%}
          {%- for link in section.settings.navigation_menu.links -%}
            
              {%- assign mtdown = link.title | downcase -%}
              
              {%- for color in color_blocks -%}
                {%- assign ctdown = color.settings.title | downcase -%}
                {%- if ctdown == mtdown -%}
                  {%- assign bgcolor = color.settings.bg_color -%}
                  {%- assign txcolor = color.settings.tx_color -%}
                {%- endif -%}
              {%- endfor -%}
            {%- assign zindex = zindex | minus: forloop.index -%}
            <li style="background: {{ bgcolor }}; color: {{ txcolor }}; z-index:{{ zindex }}; margin-top: -40px">
                <a href="{{ link.url }}"
                  class="">{{ link.title }}
                </a>
            </li>
              {%- if link.levels > 0 -%}
                {%- for child_link in link.links -%}
                  {%- assign smtdown = child_link.title | downcase -%}
                  {%- for color in color_blocks -%}
                    {%- assign ctdown = color.settings.title | downcase -%}
                    {%- if ctdown == smtdown -%}
                      {%- assign bgcolor = color.settings.bg_color -%}
                      {%- assign txcolor = color.settings.tx_color -%}
                    {%- endif -%}
                  {%- endfor -%}
                  {%- assign zindex = zindex | minus: forloop.index -%}
                  <li style="background: {{ bgcolor }}; color: {{ txcolor }}; z-index: {{ zindex }}; margin-top: -40px">
                    <a href="{{ child_link.url }}" 
                      class="">{{ child_link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              
              {%- endif -%}
              
            {%- endfor -%}
        </nav>
      </div>
      <div class="menu-overlay"></div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Navigation"
      }, {
        "type": "link_list",
        "id": "navigation_menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ],    
    "blocks": [
      {
        "type": "customize_colors",
        "name": "Menu item colors",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Match title",
            "info": "Enter menu item title"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "tx_color",
            "label": "Text color",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}