{{ 'header.css' | asset_url | stylesheet_tag }}
<header class="header">
  <div class="container">
    <div class="row header__row">
      <div class="header__logo">
        <a href="/">
          <svg
            class="header__logo-icon"
            fill="#ffffff"
            id="_Group_"
            data-name="&lt;Group&gt;"
            xmlns="http://www.w3.org/2000/svg"
            width="313.489"
            height="126.749"
            viewBox="0 0 525.813 212.594">
            <g id="_Group_2" data-name="&lt;Group&gt;">
              <g id="_Group_3" data-name="&lt;Group&gt;">
                <path
                  id="_Compound_Path_"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M240.59,873.929c0.117,4.265,0,6.812,2.8,16.052,1.926,5.33,3.912,9.951,6.3,16.052h0.234c2.452-6.1,4.378-10.78,6.306-16.111,2.859-9.181,2.685-11.728,2.859-15.993h8.816c-0.058,4.857-.466,8.944-3.561,17.828-2.452,6.576-5.546,13.031-9.165,21.857H244.5c-3.679-8.766-6.773-15.281-9.224-21.8-3.036-8.944-3.445-13.031-3.5-17.888h8.815Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_2"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M274.1,873.929h8.816v39.685H274.1V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_3"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M292.784,873.929h9.634l15.119,26.062h0.235V873.929h8.406v39.685h-9.516L301.425,888.8h-0.233v24.818h-8.408V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_4"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M336.337,873.929h8.817V892h3.561a100.992,100.992,0,0,0,7.005-7.819,15.25,15.25,0,0,0,3.269-10.247h8.816c0.291,4.8-.584,8.115-4.145,13.09-2.4,2.962-4.787,5.509-7.59,8.826l11.735,17.769H357.471l-8.465-14.1h-3.852v14.1h-8.817V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_5"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M374.579,873.929H401.55v7.582H383.4v9.833h13.894v7.581H383.4v7.108H401.55v7.581H374.579V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_6"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M414.511,873.929c0.118,4.265,0,6.812,2.8,16.052,1.927,5.33,3.912,9.951,6.305,16.052h0.233c2.452-6.1,4.378-10.78,6.306-16.111,2.859-9.181,2.686-11.728,2.859-15.993h8.817c-0.058,4.857-.467,8.944-3.561,17.828-2.453,6.576-5.547,13.031-9.166,21.857H418.423c-3.678-8.766-6.773-15.281-9.223-21.8-3.036-8.944-3.445-13.031-3.5-17.888h8.814Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_7"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M446.271,873.929h26.972v7.582H455.088v9.833h13.894v7.581H455.088v7.108h18.155v7.581H446.271V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_8"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M481.65,873.929h26.972v7.582H490.466v9.833h13.895v7.581H490.466v7.108h18.156v7.581H481.65V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_9"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M515.863,873.929H525.5l15.121,26.062h0.233V873.929h8.406v39.685H539.74L524.5,888.8H524.27v24.818h-8.407V873.929Z"
                  transform="translate(-23.438 -722.281)" />
              </g>
            </g>
            <path
              id="_Path_"
              data-name="&lt;Path&gt;"
              class="cls-1"
              d="M23.429,722.275V924.244s10.63,10.631,35.433,10.63c13.786,0,35.229-11.516,55.855-21.24C101.891,902.9,79.365,889.446,53,881.148l-1.229-.387,1.214-.455c0.594-.223,59.738-22.628,87.017-53.225l8.823-63.7,0.616,1.038c1.771,2.982,10.5,18.677,8.268,34.769-1.678,12.114-8.913,19.8-15.91,27.241l-0.993,1.058-11.9,79.692c11.154-4.8,21.468-7.735,29.169-7.735,20.341,0,31.325,7.325,34.468,9.811,0.085,0.075.355,0.318,0.453,0.414a0.969,0.969,0,0,0,.512.4v-187.8H23.429Z"
              transform="translate(-23.438 -722.281)" />
            <g id="_Group_4" data-name="&lt;Group&gt;">
              <path
                id="_Compound_Path_10"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M231.775,858.922l8.645-12.659h-8.358V844.12h11.1v2.191l-8.62,12.66h8.764v2.142H231.775v-2.191Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_11"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M251.376,844.12h9.337v2.143h-6.948v4.966h6.327v2.143h-6.327v5.6h6.948v2.142h-9.337V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_12"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M269.712,844.12H272.1v16.993h-2.388V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_13"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M281.769,844.12h2.387v14.851h6.974v2.142h-9.361V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_14"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M305.692,846.677a7.226,7.226,0,0,0-3.128-.706c-1.337,0-2.914.486-2.914,2.264,0,3.262,7.165,2.507,7.165,8.107,0,3.627-2.746,5.063-6.09,5.063a10.96,10.96,0,0,1-3.414-.706l0.238-2.264a9.955,9.955,0,0,0,3.463.828c1.361,0,3.271-.779,3.271-2.775,0-3.8-7.164-2.751-7.164-8.034,0-3.019,2.341-4.626,5.349-4.626a10.924,10.924,0,0,1,3.558.609Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_15"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M325.246,846.92a6.6,6.6,0,0,0-3.438-.949c-3.845,0-6.4,2.824-6.4,6.646a6.279,6.279,0,0,0,6.28,6.646,8.075,8.075,0,0,0,3.63-.828l0.143,2.362a10.243,10.243,0,0,1-3.8.608c-5.278,0-8.787-3.457-8.787-8.861,0-5.234,3.725-8.716,8.811-8.716a9.034,9.034,0,0,1,3.749.731Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_16"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M332.717,844.12h2.388v7.109h7.976V844.12h2.387v16.993h-2.387v-7.741h-7.976v7.741h-2.388V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_17"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M360.365,843.828c5.062,0,8.023,3.749,8.023,8.789,0,5.161-2.937,8.788-8.023,8.788s-8.024-3.627-8.024-8.788C352.341,847.577,355.3,843.828,360.365,843.828Zm0,15.435c3.844,0,5.492-3.262,5.492-6.646,0-3.457-1.815-6.671-5.492-6.646-3.678-.025-5.493,3.189-5.493,6.646C354.872,856,356.52,859.263,360.365,859.263Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_18"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M382.376,843.828c5.063,0,8.023,3.749,8.023,8.789,0,5.161-2.936,8.788-8.023,8.788s-8.023-3.627-8.023-8.788C374.353,847.577,377.314,843.828,382.376,843.828Zm0,15.435c3.845,0,5.493-3.262,5.493-6.646,0-3.457-1.815-6.671-5.493-6.646-3.677-.025-5.492,3.189-5.492,6.646C376.884,856,378.531,859.263,382.376,859.263Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_19"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M396.628,844.12h2.388v14.851h6.973v2.142h-9.361V844.12Z"
                transform="translate(-23.438 -722.281)" />
            </g>
            <g id="_Group_5" data-name="&lt;Group&gt;">
              <path
                id="_Compound_Path_20"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M458.229,843.828h2.435v7.158h8.128v-7.158h2.433v17.111h-2.433v-7.795h-8.128v7.795h-2.435V843.828Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_21"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M484.258,843.828h2.554l7.179,17.111h-2.652l-1.728-4.315h-8.323l-1.727,4.315h-2.556Zm1.192,2.305-3.383,8.481h6.765Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_22"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M506.677,860.939h-3.042l-6.4-17.111h2.726l5.232,14.954h0.049l5.378-14.954h2.555Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_23"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M519.4,843.828h9.515v2.157h-7.082v5h6.449v2.158h-6.449v5.638h7.082v2.157H519.4V843.828Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_24"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M535.968,843.828h3.31l7.5,13.777h0.048V843.828h2.434v17.111h-3.115l-7.691-14.07H538.4v14.07h-2.434V843.828Z"
                transform="translate(-23.438 -722.281)" />
            </g>
          </svg>
          <svg
            class="header__logo-icon-mobile"
            fill="#ffffff"
            id="_Group_"
            data-name="&lt;Group&gt;"
            xmlns="http://www.w3.org/2000/svg"
            width="163.896"
            height="66.266"
            viewBox="0 0 525.813 212.594">
            <g id="_Group_2" data-name="&lt;Group&gt;">
              <g id="_Group_3" data-name="&lt;Group&gt;">
                <path
                  id="_Compound_Path_"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M240.59,873.929c0.117,4.265,0,6.812,2.8,16.052,1.926,5.33,3.912,9.951,6.3,16.052h0.234c2.452-6.1,4.378-10.78,6.306-16.111,2.859-9.181,2.685-11.728,2.859-15.993h8.816c-0.058,4.857-.466,8.944-3.561,17.828-2.452,6.576-5.546,13.031-9.165,21.857H244.5c-3.679-8.766-6.773-15.281-9.224-21.8-3.036-8.944-3.445-13.031-3.5-17.888h8.815Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_2"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M274.1,873.929h8.816v39.685H274.1V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_3"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M292.784,873.929h9.634l15.119,26.062h0.235V873.929h8.406v39.685h-9.516L301.425,888.8h-0.233v24.818h-8.408V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_4"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M336.337,873.929h8.817V892h3.561a100.992,100.992,0,0,0,7.005-7.819,15.25,15.25,0,0,0,3.269-10.247h8.816c0.291,4.8-.584,8.115-4.145,13.09-2.4,2.962-4.787,5.509-7.59,8.826l11.735,17.769H357.471l-8.465-14.1h-3.852v14.1h-8.817V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_5"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M374.579,873.929H401.55v7.582H383.4v9.833h13.894v7.581H383.4v7.108H401.55v7.581H374.579V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_6"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M414.511,873.929c0.118,4.265,0,6.812,2.8,16.052,1.927,5.33,3.912,9.951,6.305,16.052h0.233c2.452-6.1,4.378-10.78,6.306-16.111,2.859-9.181,2.686-11.728,2.859-15.993h8.817c-0.058,4.857-.467,8.944-3.561,17.828-2.453,6.576-5.547,13.031-9.166,21.857H418.423c-3.678-8.766-6.773-15.281-9.223-21.8-3.036-8.944-3.445-13.031-3.5-17.888h8.814Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_7"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M446.271,873.929h26.972v7.582H455.088v9.833h13.894v7.581H455.088v7.108h18.155v7.581H446.271V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_8"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M481.65,873.929h26.972v7.582H490.466v9.833h13.895v7.581H490.466v7.108h18.156v7.581H481.65V873.929Z"
                  transform="translate(-23.438 -722.281)" />
                <path
                  id="_Compound_Path_9"
                  data-name="&lt;Compound Path&gt;"
                  class="cls-1"
                  d="M515.863,873.929H525.5l15.121,26.062h0.233V873.929h8.406v39.685H539.74L524.5,888.8H524.27v24.818h-8.407V873.929Z"
                  transform="translate(-23.438 -722.281)" />
              </g>
            </g>
            <path
              id="_Path_"
              data-name="&lt;Path&gt;"
              class="cls-1"
              d="M23.429,722.275V924.244s10.63,10.631,35.433,10.63c13.786,0,35.229-11.516,55.855-21.24C101.891,902.9,79.365,889.446,53,881.148l-1.229-.387,1.214-.455c0.594-.223,59.738-22.628,87.017-53.225l8.823-63.7,0.616,1.038c1.771,2.982,10.5,18.677,8.268,34.769-1.678,12.114-8.913,19.8-15.91,27.241l-0.993,1.058-11.9,79.692c11.154-4.8,21.468-7.735,29.169-7.735,20.341,0,31.325,7.325,34.468,9.811,0.085,0.075.355,0.318,0.453,0.414a0.969,0.969,0,0,0,.512.4v-187.8H23.429Z"
              transform="translate(-23.438 -722.281)" />
            <g id="_Group_4" data-name="&lt;Group&gt;">
              <path
                id="_Compound_Path_10"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M231.775,858.922l8.645-12.659h-8.358V844.12h11.1v2.191l-8.62,12.66h8.764v2.142H231.775v-2.191Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_11"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M251.376,844.12h9.337v2.143h-6.948v4.966h6.327v2.143h-6.327v5.6h6.948v2.142h-9.337V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_12"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M269.712,844.12H272.1v16.993h-2.388V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_13"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M281.769,844.12h2.387v14.851h6.974v2.142h-9.361V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_14"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M305.692,846.677a7.226,7.226,0,0,0-3.128-.706c-1.337,0-2.914.486-2.914,2.264,0,3.262,7.165,2.507,7.165,8.107,0,3.627-2.746,5.063-6.09,5.063a10.96,10.96,0,0,1-3.414-.706l0.238-2.264a9.955,9.955,0,0,0,3.463.828c1.361,0,3.271-.779,3.271-2.775,0-3.8-7.164-2.751-7.164-8.034,0-3.019,2.341-4.626,5.349-4.626a10.924,10.924,0,0,1,3.558.609Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_15"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M325.246,846.92a6.6,6.6,0,0,0-3.438-.949c-3.845,0-6.4,2.824-6.4,6.646a6.279,6.279,0,0,0,6.28,6.646,8.075,8.075,0,0,0,3.63-.828l0.143,2.362a10.243,10.243,0,0,1-3.8.608c-5.278,0-8.787-3.457-8.787-8.861,0-5.234,3.725-8.716,8.811-8.716a9.034,9.034,0,0,1,3.749.731Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_16"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M332.717,844.12h2.388v7.109h7.976V844.12h2.387v16.993h-2.387v-7.741h-7.976v7.741h-2.388V844.12Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_17"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M360.365,843.828c5.062,0,8.023,3.749,8.023,8.789,0,5.161-2.937,8.788-8.023,8.788s-8.024-3.627-8.024-8.788C352.341,847.577,355.3,843.828,360.365,843.828Zm0,15.435c3.844,0,5.492-3.262,5.492-6.646,0-3.457-1.815-6.671-5.492-6.646-3.678-.025-5.493,3.189-5.493,6.646C354.872,856,356.52,859.263,360.365,859.263Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_18"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M382.376,843.828c5.063,0,8.023,3.749,8.023,8.789,0,5.161-2.936,8.788-8.023,8.788s-8.023-3.627-8.023-8.788C374.353,847.577,377.314,843.828,382.376,843.828Zm0,15.435c3.845,0,5.493-3.262,5.493-6.646,0-3.457-1.815-6.671-5.493-6.646-3.677-.025-5.492,3.189-5.492,6.646C376.884,856,378.531,859.263,382.376,859.263Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_19"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M396.628,844.12h2.388v14.851h6.973v2.142h-9.361V844.12Z"
                transform="translate(-23.438 -722.281)" />
            </g>
            <g id="_Group_5" data-name="&lt;Group&gt;">
              <path
                id="_Compound_Path_20"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M458.229,843.828h2.435v7.158h8.128v-7.158h2.433v17.111h-2.433v-7.795h-8.128v7.795h-2.435V843.828Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_21"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M484.258,843.828h2.554l7.179,17.111h-2.652l-1.728-4.315h-8.323l-1.727,4.315h-2.556Zm1.192,2.305-3.383,8.481h6.765Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_22"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M506.677,860.939h-3.042l-6.4-17.111h2.726l5.232,14.954h0.049l5.378-14.954h2.555Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_23"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M519.4,843.828h9.515v2.157h-7.082v5h6.449v2.158h-6.449v5.638h7.082v2.157H519.4V843.828Z"
                transform="translate(-23.438 -722.281)" />
              <path
                id="_Compound_Path_24"
                data-name="&lt;Compound Path&gt;"
                class="cls-1"
                d="M535.968,843.828h3.31l7.5,13.777h0.048V843.828h2.434v17.111h-3.115l-7.691-14.07H538.4v14.07h-2.434V843.828Z"
                transform="translate(-23.438 -722.281)" />
            </g>
          </svg>
        </a>
      </div>
      <div class="header__menu">
        <nav>
          {%- assign color_blocks = section.blocks | where: 'type', 'customize_colors' -%}
         
          {%- for link in section.settings.navigation_menu.links -%}
            <li>
              {%- assign mtdown = link.title | downcase -%}
              {%- for color in color_blocks -%}
                {%- assign ctdown = color.settings.title | downcase -%}
                {%- if ctdown == mtdown -%}
                  {%- assign bgcolor = color.settings.bg_color -%}
                  {%- assign txcolor = color.settings.tx_color -%}
                {%- endif -%}
              {%- endfor -%}
                
                <a href="{{ link.url }}"
                  style="color: {{ txcolor }}; position: relative"
                  class="header__nav-item">
                  <span style="background: {{ bgcolor }}"></span>
                  {{ link.title }}
                </a>
              
              
              {%- if link.levels > 0 -%}
                {%- for child_link in link.links -%}
                  {%- assign smtdown = child_link.title | downcase -%}
                  {%- for color in color_blocks -%}
                    {%- assign ctdown = color.settings.title | downcase -%}
                    {%- if ctdown == smtdown -%}
                      {%- assign bgcolor = color.settings.bg_color -%}
                      {%- assign txcolor = color.settings.tx_color -%}
                    {%- endif -%}
                  {%- endfor -%}

                    <a href="{{ child_link.url }}" 
                      style="color: {{ txcolor }}; position: relative"
                      class="header__nav-subitem">
                      <span style="background: {{ bgcolor }}"></span>
                      {{ child_link.title }}
                    </a>
                {%- endfor -%}
              {%- endif -%}
            </li>
          {%- endfor -%}
          
        </nav>
      </div>
      <div class="header__right-nav">
        <nav>
          <li class="header__right-nav-item-blue">
            <a href="/pages/agenda">Agenda</a>
          </li>
          <li class="header__right-nav-item-grey">
            <a href="/pages/winkel">Winkel</a>
          </li>
          <li class="header__right-nav-item-black">
            <a href="">NL</a>
            <p>|</p>
            <a href="">Eng</a>
          </li>
        </nav>
      </div>
      
      <div class="burger-menu">
        <div class="burger-menu__strips">
          <span></span>
          <span></span>
          <span></span>
        </div>
        
        <nav class="mobile-menu__nav">
          {%- assign zindex = 200 -%}
          {%- for link in section.settings.navigation_menu.links -%}
            
              {%- assign mtdown = link.title | downcase -%}
              
              {%- for color in color_blocks -%}
                {%- assign ctdown = color.settings.title | downcase -%}
                {%- if ctdown == mtdown -%}
                  {%- assign bgcolor = color.settings.bg_color -%}
                  {%- assign txcolor = color.settings.tx_color -%}
                {%- endif -%}
              {%- endfor -%}
            {%- assign zindex = zindex | minus: forloop.index -%}
            <li style="background: {{ bgcolor }}; color: {{ txcolor }}; z-index:{{ zindex }}; margin-top: -40px">
                <a href="{{ link.url }}"
                  class="">{{ link.title }}
                </a>
            </li>
              {%- if link.levels > 0 -%}
                {%- for child_link in link.links -%}
                  {%- assign smtdown = child_link.title | downcase -%}
                  {%- for color in color_blocks -%}
                    {%- assign ctdown = color.settings.title | downcase -%}
                    {%- if ctdown == smtdown -%}
                      {%- assign bgcolor = color.settings.bg_color -%}
                      {%- assign txcolor = color.settings.tx_color -%}
                    {%- endif -%}
                  {%- endfor -%}
                  {%- assign zindex = zindex | minus: forloop.index -%}
                  <li style="background: {{ bgcolor }}; color: {{ txcolor }}; z-index: {{ zindex }}; margin-top: -40px">
                    <a href="{{ child_link.url }}" 
                      class="">{{ child_link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              
              {%- endif -%}
              
            {%- endfor -%}
        </nav>
      </div>
      <div class="menu-overlay"></div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Navigation"
      }, {
        "type": "link_list",
        "id": "navigation_menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ],    
    "blocks": [
      {
        "type": "customize_colors",
        "name": "Menu item colors",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Match title",
            "info": "Enter menu item title"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "tx_color",
            "label": "Text color",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}