{{ 'gallery.css' | asset_url | stylesheet_tag }}
<div class="kopje-section">
  <div class="container">
    {% render 'filter-main' %}
    <h2 class="main-title kopje-title">{{ section.settings.row-title1 }}</h2>
    <div class="row">
      {% for block in section.blocks %}
        <div class="kopje__photo-item">
          <h2 class="kopje__top-title">{{ block.settings.title }}</h2>
              <a href="{{ block.settings.item-link }}">
                  {{ block.settings.img | img_url: 'master' | img_tag }}
                  <h4 class="kopje__title" style="background-color: {{ block.settings.title-color }};" >{{ block.settings.item-title }}</h4>
                  <div class="kopje__hover-item">
                      <div>
                        {{ block.settings.richtext }}
                      </div>
                  </div>
              </a>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Gallery section",
    "max_blocks": 8,
    "blocks": [
      {
        "type": "item",
        "name": "Item settings",
        "settings": [
          {
            "type": "text",
            "label": "Title above item",
            "id": "title",
            "default": "EVENTUEEL KOP"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Pick item image"
          }, 
          {
            "type": "text",
            "id": "item-title",
            "label": "Item title"
          }, 
          {
            "type": "richtext",
            "id": "item-richtext",
            "label": "Item text content"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Item title color"
          },
          {
            "type": "text",
            "id": "item-link",
            "label": "Item url"
          }
        ]
      }
    ],
    "presets": []
  }
{% endschema %}