{{ 'hero.css' | asset_url | stylesheet_tag }}
<style>
    {% if section.settings.section-height == 'xl' %}
      .youtube-container iframe{
        height: 100vh;
      }
    {%  elsif section.settings.section-height == 'm' %}
      .youtube-container iframe{
        height: 975px;
      }
    {%  elsif section.settings.section-height == 'sm' %}
        .youtube-container iframe{
          height: 636px;
        }
    {% endif %}
</style>
<div class="start-section">
    <div class="youtube-container">
      {% if section.settings.video_link == blank %}
        {{  section.settings.img | img_url: 'master' | img_tag }}
      {% else %}
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_link | slice: 32, 11 }}?autoplay=1&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1&playlist={{ section.settings.video_link | slice: 32, 11 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    </div>
    <div class="start-section__title template-1-section__title">
      {% if section.settings.title == blank %}
        <h1 style="white-space: nowrap;">{{ page.title}}</h1>
      {%  else %} 
        <h1>{{ section.settings.title }}</h1>
      {% endif %}
    </div>
</div> 
{% schema %}
{
"name": "Background and title",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Type the title"
    },
	{
		"type": "text",
		"id": "video_link",
		"label": {
		"en": "Paste the YouTube video link"
		}
	},
    {
        "type": "image_picker",
        "id": "img",
        "label": "Background image"
    },
    {
      "type": "select",
      "id": "section-height",
      "label": "Section height",
      "options": [
          {
          "label": "Xl (100vh)",
          "value": "xl"
          },
          {
          "label": "M (975px)",
          "value": "m"
          },
          {
          "label": "Sm (636px)",
          "value": "sm"
          }
      ],
      "default": "xl"
    }
  ],
	"presets": []
}
{% endschema %}
