{{ 'bruiloft.css' | asset_url | stylesheet_tag }}
<div class="bruiloft">
    <div class="container">
        <div class="bruiloft__title">
            <h2 >{{ section.settings.title }}</h2>
        </div>
        <div class="bruiloft__info">
            <div class="bruiloft__block">
                <h4>{{ section.settings.title-sm1 }}</h4>
                <div>
                    {% if section.settings.text-1 != blank %}
                        {{ section.settings.text-1 }}
                    {% else %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p>
                    {% endif %}
                </div>
            </div>
            <div class="bruiloft__block">
                <h4>{{ section.settings.title-sm2 }}</h4>
                <div>
                    {% if section.settings.text-2 != blank %}
                        {{ section.settings.text-2 }}
                    {% else %}
                        <p>Voor de kinderen van 7 tot 12 jaar kan je kennismaken door een halve of hele dag te leren varen in een optimist. De Optimist is een toegankelijke jeugdboot voor de zeiler t/m 12 jaar. Door het kleine formaat is het voor de jonge zeiler een perfecte boot om mee overweg te kunnen. Onder leiding van een enthousiaste instructeur ga je de eerste beginselen van het zeilen leren. Dit zal afgewisseld worden door leuke spellen op een eiland.</p>
                    {% endif %}
                </div>
            </div>
            <div class="bruiloft__block">
                <h4>{{ section.settings.title-sm-img }}</h4>
                <div>
                    {{ section.settings.image  | img_url: 'master' | img_tag }}
                </div>
            </div>
            <div class="bruiloft__block">
                <h4>{{ section.settings.title-sm3 }}</h4>
                <div>
                    <div>
                        {% if section.settings.text-3 != blank %}
                            {{ section.settings.text-3 }}
                        {% else %}
                            <p>Blijf je gezellig slapen, doe je ook met het avondprogramma mee of ben je alleen overdag bij ons? Bekijk hier uit welke verblijfstypes je kunt kiezen.</p>
                            <p>Paklijst: Ik ga zeilen en neem mee… </p>
                            <p>Dieetwensen: Heb je een voedselallergie of ben je vegetariër? Geef het bij het inschrijven door! Dan maken wij aangepaste maaltijden voor je klaar. tekst volgt.</p>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %} 
{
    "name": "Page template",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Page itle",
            "default": "ONZE BRUILOFTEN ZIJN EEN SPETTERENDE BELEVING"
        },
        {
            "type": "text",
            "id": "title-sm1",
            "label": "1st text title",
            "default": "Slaapzaal"
        },
        {
            "type": "richtext",
            "id": "text-1",
            "label": "1st text"
        },
        {
            "type": "text",
            "id": "title-sm2",
            "label": "2nd text title",
            "default": "Slapen"
        },
        {
            "type": "richtext",
            "id": "text-2",
            "label": "2nd text"
        },
        {
            "type": "text",
            "id": "title-sm-img",
            "label": "Image title",
            "default": "Bemanning"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title-sm3",
            "label": "3d text title",
            "default": "Meer informatie"
        },
        {
            "type": "richtext",
            "id": "text-3",
            "label": "3d text"
        }
    ]
}
{% endschema %}