{{ 'collection.css' | asset_url | stylesheet_tag }}
<div class="collection">
    <div class="container">
        <div class="collection__row">
            <div class="collection__products">
                {% for product in section.settings.featured-collection-1.products limit: 5 %}
                    <div class="collection__product-item">
                        <h2 class="collection__title">{{ section.settings.featured-collection-1.title }}</h2>
                        <a href="{{ product.url }}">
                            {{ product.featured_image | img_url: 'master' | img_tag }}
                            <h4 class="collection__product-name">{{ product.title }}</h4>
                            <div class="collection__hover-content">
                                <div>
                                    {% assign product_description = product.description | split: "@@" %}
                                    {{ product_description[0] }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for product in section.settings.featured-collection-2.products limit: 5 %}
                    <div class="collection__product-item">
                        <h2 class="collection__title">{{ section.settings.featured-collection-2.title }}</h2>
                        <a href="{{ product.url }}">
                            {{ product.featured_image | img_url: 'master' | img_tag }}
                            <h4 class="collection__product-name">{{ product.title }}</h4>
                            <div class="collection__hover-content">
                                <div>
                                    {% assign product_description = product.description | split: "@@" %}
                                    {{ product_description[0] }}
                                </div>
                            </div>
                        </a>
                    </div>
                    
                {% endfor %}
                {% for product in section.settings.featured-collection-3.products limit: 5 %}
                    <div class="collection__product-item">
                        <h2 class="collection__title">{{ section.settings.featured-collection-3.title }}</h2>
                        <a href="{{ product.url }}">
                            {{ product.featured_image | img_url: 'master' | img_tag }}
                            <h4 class="collection__product-name">{{ product.title }}</h4>
                            <div class="collection__hover-content">
                                <div>
                                    {% assign product_description = product.description | split: "@@" %}
                                    {{ product_description[0] }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for product in section.settings.featured-collection-4.products limit: 5 %}
                    <div class="collection__product-item">
                        <h2 class="collection__title">{{ section.settings.featured-collection-4.title }}</h2>
                        <a href="{{ product.url }}">
                            {{ product.featured_image | img_url: 'master' | img_tag }}
                            <h4 class="collection__product-name">{{ product.title }}</h4>
                            <div class="collection__hover-content">
                                <div>
                                    {% assign product_description = product.description | split: "@@" %}
                                    {{ product_description[0] }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="collection__all" >
            {% paginate collection.products by 20 %}
                <div class="collection__products-inner">
                    {% for product in collection.products %}
                        <div class="collection__product-item">
                            <a href="{{ product.url }}">
                                {{ product.featured_image | img_url: 'master' | img_tag }}
                                <h4 class="collection__product-name">{{ product.title }}</h4>
                                <div class="collection__hover-content">
                                    <div>
                                        {% assign product_description = product.description | split: "@@" %}
                                        {{ product_description[0] }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {%  else %}
                    <h3 class="no-product-title" style="padding-top: 30px;">
                        There is no products with such options
                    </h3>
                    {% endfor %}
                </div>  
                <div class="collection__pagination">
                    {% if paginate.pages > 1 %}
                        <nav>
                            {% if paginate.previous.url %}
                                <a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
                            {% endif %}
                            
                            {% for part in paginate.parts %}
                                 {% if part.is_link %}
                                    <a href="{{ part.url }}">{{ part.title }}</a>
                                {% else %}
                                    <span>{{ part.title }}</span>
                                 {% endif %}
                            {% endfor %}

                            {% if paginate.next.url %}
                                <a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
                            {% endif %}
                        </nav>
                    {% endif %}
                </div>
            
            {% endpaginate %}
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Featured Collection",
        "settings": [
            {
                "type": "collection",
                "id": "featured-collection-1",
                "label": "Collection 1"
            },
            {
                "type": "collection",
                "id": "featured-collection-2",
                "label": "Collection 2"
            },
            {
                "type": "collection",
                "id": "featured-collection-3",
                "label": "Collection 3"
            },
            {
                "type": "collection",
                "id": "featured-collection-4",
                "label": "Collection 4"
            }
        ],
        "presets": [
            {
                "name": "Featured Collection"
            }
        ]
    }
{% endschema %}