{{ 'Product.css' | asset_url | stylesheet_tag }}
<div class="product">
    <div class="container">
        <div class="breadcrumbs">
            >
            <a href="/">Vinkeveen haven</a>
            >
            <a href="#">Boot huren</a>
            >
            <p>I-Sloep</p>
        </div>
        <div class="product__info">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="product__block-1">
                    <a href="#" class="product__button btn__lg">Huur nu</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="product__block-2">
                    <ul>
                        <li>Max. 12 personen </li>
                        <li>Huur inclusief brandstof (diesel)</li> 
                        <li>Diverse menu’s mee te bestellen</li>
                    </ul>
                    <ul>
                        <li>Huur per dagdeel of per dag </li>
                        <li>Reserveren is aanbevolen </li>
                        <li>Geldig legitimatiebewijs </li>
                        <li>Eventueel les erbij bestellen </li>
                        <li>Geen vaarbewijs vereist </li>
                        <li>Vanaf 18 jaar </li>
                        <li>Borg van € 250,- (per pin)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12" >
                <div class="product__block-3">
                    <ul>
                        <li> Hydrolisch stuurwiel </li>
                        <li>Bijna net zo stil als een elektromotor (aangedreven door een stille drie cilinder Yanmar dieselmotor) </li>
                        <li>Aansluiting elektrische koelbox </li>
                        <li>Luxe kussens </li>
                        <li>Buiskap </li>
                        <li>Sorry, geen honden aan boord (wel op de Rigiflex)  </li>
                        <li>Gratis vaarkaart </li>
                        <li>Gratis zwemvesten</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="impressies">
    <div class="container">
        <div class="impressies__inner">
            <h3 class="product__small-title impressies__title"> Impressies {{product.title}}</h3>
            <div class="impressies__images">
                <a href="#">
                    {{ 'product-img-1.png' | asset_url | img_tag }}
                </a>
                <a href="#">
                    {{ 'product-img-2.png' | asset_url | img_tag }}
                </a>
                <a href="#">
                    {{ 'product-img-2.png' | asset_url | img_tag }}
                </a>
                <a href="#">
                    {{ 'product-img-1.png' | asset_url | img_tag }}
                    
                    {{ product.metafields.custom.impressies_images | asset_url | img_tag }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="product-description">
    <div class="container description__container">
        <div class="description__block">
            <div class=" description__title">
                <h3>I-sloep interieur</h3>
            </div>
            <div class="description__text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Slapen</h4>
            </div>
            <div class="description__text">
                <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Bemanning</h4>
            </div>
            <div class="description__img">
                {{ 'product-desc-img.png' | asset_url | img_tag }}
            </div>
            <div class="description__text">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Meer informatie</h4>
            </div>
            <div class="description__text">
                <p>Where does it come from?<br> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.</p>
            </div>
        </div>
    </div>
</div>

<div class="alternativen">
    <div class="container">
        <div class="alternativen__inner">
            <h3 class="product__small-title">Alternativen</h3>
            <div class="alternativen__images">
                <a href="#">
                    {{ 'product-alternativen-img-1.png' | asset_url | img_tag }}
                    <h6>RIGIFLEX</h6>
                </a>
                <a href="#">
                    {{ 'product-alternativen-img-2.png' | asset_url | img_tag }}
                    <h6>ALUVA</h6>
                </a>
            </div>
        </div>
    </div>
</div>