{{ 'template-instructors.css' | asset_url | stylesheet_tag }}
<style>
    .instructeurs__btn {
        background-color: {{ section.settings.button-color }};
    }

    .instructeurs__btn:hover{
        background-color: {{ section.settings.button-color-hover }};
    }
</style>
<div class="instructeurs">
    <div class="container">
        <div class="breadcrumbs">
            >
            <a href="/">Home</a>
            >
            <p>instructeurs</p>
        </div>
        <div class="instructeurs__intro">
            <div class="instructeurs__button">
                <a href="{{ section.settings.btn-url }}" class="btn__lg instructeurs__btn">{{ section.settings.btn-text }}</a>
            </div>
            <div class="instructeurs__intro-text">
                <h3>{{ section.settings.title }}</h3>
                {% if section.settings.text-content != blank %}
                    {{ section.settings.text-content }}
                {% else %}
                    <p>Introductietekst. Wil je weten wat een zeilkamp inhoudt? Daar gaat ie: Van april tot oktober kun je bij ons zeilen, dat kan een dag, een paar dagen zijn of langer. Je bent dan in een groep van X kinderen van dezelfde leeftijd. Er is altijd een instructeur bij jullie.</p>
                {% endif %}
            </div>
        </div>
        <div class="instructeurs__instruct">
            {% for block in section.blocks %}
                <div class="instructeurs__instruct-item">
                    <div class="instructeurs__instruct-img">
                        {{ block.settings.image | img_url: 'master' | img_tag }}
                    </div>
                    <div class="instructeurs__instruct-info">
                        <h4>{{ block.settings.name-title }}</h4>
                        {% if block.settings.desc != blank %}
                            {{ block.settings.desc }}
                        {% else %}
                            <p>Hoi! Ik ben Noah :) Ik doe een theateropleiding in Utrecht en in de zomers geef ik de Valk, Optimist en Askeladden les. Samen met jou gaan we er een hele leuke zeilweek van maken! Je kunt me bellen <a href="#"> of hier mailen.</a></p>
                        {% endif %}
                    </div>
                    <div class="instructeurs__p-mobile" >
                        {% if block.settings.desc != blank %}
                            {{ block.settings.desc }}
                        {% else %}
                            <p >Hoi! Ik ben Noah :) Ik doe een theateropleiding in Utrecht en in de zomers geef ik de Valk, Optimist en Askeladden les. Samen met jou gaan we er een hele leuke zeilweek van maken! Je kunt me bellen <a href="#"> of hier mailen.</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Page template",
        "settings": [
            {
                "type": "text",
                "id": "btn-text",
                "label": "Button text",
                "default": "WORD OOK INSTRUCTEUR"
            },
            {
                "type": "text",
                "id": "btn-url",
                "label": "Button url",
                "default": "#"
            },
            {
                "type": "color",
                "id": "button-color",
                "label": "Change the button color"
            },
            {
                "type": "color",
                "id": "button-color-hover",
                "label": "Change the button hover color"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Ttile",
                "default": "Wil je ook met ons werken?"
            },
            {
                "type": "richtext",
                "id": "text-content",
                "label": "Change the button hover color"
            }
        ],
        "blocks": [
            {
                "name": "Instructor",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Instructor image"
                    },
                    {
                        "type": "text",
                        "id": "name-title",
                        "label": "Name/Title",
                        "default": "NOAH - ZEILINSTRUCTEUR"
                    },
                    {
                        "type": "richtext",
                        "id": "desc",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}