{{ 'article-agenda.css' | asset_url | stylesheet_tag }}
<style>
    .weather-section__button-inner a {
        background-color: {{ section.settings.button-color }};
    }

    .weather-section__button-inner a:hover{
        background-color: {{ section.settings.button-color-hover }};
    }
</style>
<div class="weather-section">
  <div class="container">
    <div class="agenda-post__nav">
      <div class="weather-section__button-inner">
        <a href="{{ section.settings.btn-url }}" class="btn__lg">{{ section.settings.btn-text }}</a>
      </div>
      <div class="breadcrumbs">
        >
        <a href="/">Home</a>
        >
        <a href="/pages/agenda">Agenda</a>
        >
        <p>{{ article.metafields.custom.start_date | date: "%d" }} {{ article.metafields.custom.start_date | date: "%B" }}, {{ article.title }}</p>
      </div>
    </div>
    <div class="agenda-post__text">
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h2>{{ article.metafields.custom.start_date | date: "%d" }} {{ article.metafields.custom.start_date | date: "%B" }}</h2>
        </div>
        <h2>{{ article.title }} <br> {{ article.excerpt | remove: "(SUP)" }}</h2>
      </div>
      {% assign article_content = article.content | split: "@@" %}
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>{{ article.metafields.custom.start_date | date: "%Y" }}</h3>
        </div>
        <div>{{ article_content[0] }}</div>
      </div>
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>{{ article_content[1] }}</h3>
        </div>
        <div>
          <div>
            {{ article_content[2] }}
          </div>
          <div class="agenda-post__img-block">
            <div>
              {{ article_content[3] }}
            </div>
            {{ article_content[4] }}
          </div>
        </div>
      </div>
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>{{ article_content[5] }}</h3>
        </div>
        {{ article_content[6] }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Article template",
    "settings":[
      {
        "type": "text",
        "id": "btn-text",
        "label": "Button text",
        "default": "Boek nu"
    },
    {
        "type": "url",
        "id": "btn-url",
        "label": "Button url"
    },
    {
        "type": "color",
        "id": "button-color",
        "label": "Change the button color"
    },
    {
        "type": "color",
        "id": "button-color-hover",
        "label": "Change the button hover color"
    }
    ]
  }
{% endschema %}