{{ 'Product.css' | asset_url | stylesheet_tag }}
<style>
    .product__button {
        background-color: {{ section.settings.button-color }};
    }

    .product__button:hover{
        background-color: {{ section.settings.button-color-hover }};
    }
</style>
{% assign product_description = product.description | split: "@@" %}
<div class="product">
    <div class="container">
        <div class="breadcrumbs">
            >
            <a href="/">Vinkeveen haven</a>
            >
            <a href="#">Boot huren</a>
            >
            <p>{{ product.title }}</p>
        </div>
        <div class="product__info">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="product__block-1">
                    {% comment %} <a href="{{ section.settings.btn-url }}" class="product__button btn__lg">{{ section.settings.btn-text }}</a> {% endcomment %}
                    <div class="product__button btn__lg" id="recras-vouchers">{{ section.settings.btn-text }}</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="product__block-2">
                    <ul>
                        {{ product_description[0] }}
                    </ul>
                    <ul>
                        {{ product_description[1] }}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12" >
                <div class="product__block-3">
                    <ul>
                        {{ product_description[2] }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="impressies">
    <div class="container">
        <div class="impressies__inner">
            <h3 class="product__small-title impressies__title"> Impressies {{product.title}}</h3>
            <div class="impressies__images">
                {% for image in product.images %}
                    <div>
                        {{ image | img_url: 'master' | img_tag }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="product-description">
    <div class="container description__container">
        <div class="description__block">
            <div class=" description__title">
                <h3>{{ product.title }} interieur</h3>
            </div>
            <div class="description__text">
                {{ product_description[3] }}
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Slapen</h4>
            </div>
            <div class="description__text">
                {{ product_description[4] }}
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Bemanning</h4>
            </div>
            <div class="description__img">
                {{ 'product-desc-img.png' | asset_url | img_tag }}
            </div>
            <div class="description__text">
                {{ product_description[5] }}
            </div>
        </div>
        <div class="description__block">
            <div class=" description__title">
                <h4>Meer informatie</h4>
            </div>
            <div class="description__text">
                {{ product_description[6] }}
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Article template",
      "settings":[
        {
          "type": "text",
          "id": "btn-text",
          "label": "Button text",
          "default": "Huur nu"
      },
      {
          "type": "text",
          "id": "btn-url",
          "label": "Button url",
          "default": "#"
      },
      {
          "type": "color",
          "id": "button-color",
          "label": "Change the button color"
      },
      {
          "type": "color",
          "id": "button-color-hover",
          "label": "Change the button hover color"
      }
      ]
    }
  {% endschema %}