<div class="container">
<div class="info-section">
    <div class="row">
        <h3 class="info-section__title">Onderdeel</h3>
        <div class="info-section__text">
            {% if section.settings.text-top == blank %}  
                <p>Wil je weten wat een zeilkamp inhoudt? Daar gaat ie: Van april tot oktober kun je bij ons zeilen, dat kan een dag, een paar dagen zijn of langer. Je bent dan in een groep van X kinderen van dezelfde leeftijd. Er is altijd een instructeur bij jullie. Etcetera etcetera.Wil je weten wat een zeilkamp inhoudt? Daar gaat ie: Van april tot oktober kun je bij ons zeilen, dat kan een dag, een paar dagen.</p>
            {% else %}
                {{ section.settings.text-top }}
            {% endif %}
            <div class="info-section__text-inner">
                {{ section.settings.img1 | img_url: 'master' | img_tag }}
                <div>
                    {% if section.settings.text-middle == blank %}  
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
                    {% else %}
                        {{ section.settings.text-middle }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="info-section__title">Meer informatie</h3>
        <div class="info-section__text">
            {% if section.settings.text-bottom == blank %}  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% else %}
                {{ section.settings.text-bottom }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="info-section__text">
            <div class="info-section__img">
                {{ section.settings.img2 | img_url: 'master' | img_tag }}
            </div>
            <div>
                {% if section.settings.text-under-bottom == blank %}  
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis <span class="underline">aute irure dolor in reprehenderit in</span> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                {% else %}
                    {{ section.settings.text-under-bottom }}
                {% endif %}
                
            </div>
        </div>
    </div>
  </div>
</div>

{%  schema  %} 
    {
        "name": "Info section",
        "settings": [
            {
                "type": "richtext",
                "id": "text-top",
                "label": "Text above image 1"
            },
            {
                "type": "image_picker",
                "id": "img1",
                "label": "Image 1"
            },
            {
                "type": "image_picker",
                "id": "img2",
                "label": "Image 2"
            },
            {
                "type": "richtext",
                "id": "text-middle",
                "label": "Text right to image 1"
            },
            {
                "type": "richtext",
                "id": "text-bottom",
                "label": "Text under the image 1"
            },
            {
                "type": "richtext",
                "id": "text-under-bottom",
                "label": "Text right to image 2"
            }
        ]
    }
{% endschema %} 